h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	font-size: inherit;
}

p {
	font-size: 16px;
	line-height: 22px;
}

h1 {
	font-weight: 800;
	font-size: 75px;
	line-height: 102px;
}

h2 {
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 50px;
	}
}