.booking {
	padding-top: 62px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

	padding: 0 20px;

	// .booking__header
	&__header {
		text-align: center;
	}
	// .booking__slogan
	&__slogan {
		margin-top: 5px;
		text-align: center;
	}
	// .booking__explain
	&__explain {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
	// .booking__steps
	&__steps {
	}
	// .booking__step
	&__step {
	}
	// .booking__image
	&__image {
	}
	// .booking__process
	&__process {
	}
	// .booking__line
	&__line {
	}
	// .booking__text
	&__text {
	}
	// .booking__example
	&__example {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
}
