.booking {
	margin-top: 62px;
	margin-bottom: 92px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

	padding: 0 20px;

	// .booking__header
	&__header {
		text-align: center;
	}
	// .booking__slogan
	&__slogan {
		margin-top: 5px;
		text-align: center;
	}
	// .booking__explain
	&__explain {
		margin-top: 62px;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
	// .booking__steps
	&__steps {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 66px;
	}
	// .booking__step
	&__step {
		display: flex;
		flex-direction: row;
	}
	// .booking__image
	&__image {
	}
	// .booking__process
	&__process {
		margin-left: 30px;
		width: 330px;
		max-width: 100%;
	}
	// .booking__line
	&__line {
	}
	&__line p {
		font-weight: 700;
		line-height: 124.5%;
	}
	// .booking__text
	&__text {
		margin-top: 6px;
	}
	&__text p {
		line-height: 124.5%;
	}
	// .booking__example
	&__example {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
	&__example img {
		height: 100%;
		width: 100%;
		object-fit: fill;
		//max-height: 100%;
		//max-width: 100%;
	}
}
