.booking {
	margin-top: 62px;
	margin-bottom: 92px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 20px;
	&__header {
		text-align: center;
	}
	&__slogan {
		margin-top: 5px;
		text-align: center;
	}
	&__explain {
		margin-top: 62px;
		width: 1147px;
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
	}
	&__steps {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
	&__step {
		margin-top: 67px;
		gap: 30px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	//&__image {}
	&__process {
		width: 330px;
		max-width: 100%;
	}
	//&__line {}
	&__line p {
		font-weight: 700;
		line-height: 124.5%;
	}
	&__text {
		margin-top: 7px;
	}
	&__text p {
		line-height: 124.5%;
	}
	&__example {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: relative;
	}
	&__example img:nth-child(2n+1) {
		max-width: 100%;
		width: 370px;
		height: auto;
	}
	&__example img:nth-child(2n) {
		position: absolute;
		display: none;
	}
	&__example:hover img:nth-child(2n) {
		display: block;
		bottom: 51px;
		left: 225px;
	}
	@media screen and (max-width: 767px) {
		&__example {
			margin-top: 50px;
		}
		&__example:hover img:nth-child(2n) {
			display: block;
			bottom: 0;
			left: 100px;
		}
		&__process {
			text-align: center;
		}
	}
}
