@import "_variables.scss";

.destinations {
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 100%;
	width: $width_content;
	margin: 0 auto;
	&__header {
		margin-top: 75px;
		text-align: center;
	}
	&__content {
		margin-top: 72px;
		max-width: inherit;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		background-image: url(../images/destinations_map.png);
		background-repeat: no-repeat;
		background-position-x: -617px;
		background-position-y: center;
	}
	//&__map {}
	&__places {
		margin-right: 159px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		row-gap: 42px;
	}
	&__place {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.08);
		border-radius: 15px;
		max-width: 100%;
	}
	&__place:hover {
		background-color: rgba(42, 131, 204, 0.05);
		transition: 0.5s;
	}
	//&__image {}
	&__description {
		margin-left: 49px;
		margin-right: 35px;
		width: 300px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&__description p {
		font-weight: 600;
		font-size: 20px;
		line-height: 27px;
	}
	&__point {
		width: 115px;
	}
	&__spots {
		width: 93px;
	}
	//&__more {}
	@media screen and (max-width: 767px) {
		&__content {
			background-image: none;
		}
		&__place {
			flex-direction: column;
		}
		&__image {
			margin-top: 20px;
			max-height: 100%;
			max-width: 100%;
			width: 300px;
		}
		&__image img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 0 0;
			border-radius: 20px;
		}
		&__description {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}
