.destinations {
	margin-top: 72px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

	// .destinations__header
	&__header {
	}
	// .destinations__content
	&__content {
		margin-top: 72px;

		height: 772px;
		max-height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
	// .destinations__map
	&__map {
		opacity: 0.6;
		position: absolute;
		left: -617px;
	}
	// .destinations__places
	&__places {
		margin-left: 300px;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
	// .destinations__place
	&__place {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
	// .destinations__image
	&__image {
	}
	// .destinations__description
	&__description {
	}
	// .destinations__point
	&__point {
	}
	// .destinations__spots
	&__spots {
	}
	// .destinations__more
	&__more {
	}
}
