.destinations {
	margin-top: 72px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

	// .destinations__header
	&__header {
	}
	// .destinations__content
	&__content {
		margin-top: 72px;
		
		//width: 100%;
		//height: 772px;
		//max-height: 100%;

		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;

		background-image: url(/images/destinations_map.png);
		background-repeat: no-repeat;
		background-position-x: -617px;
		background-position-y: center;
	}
	// .destinations__map
	&__map {
		//opacity: 0.6;
		//width: 617px;
		//max-width: 100%;

		//max-width: 617px;
		//width: 100%;
		//height: 100%;
		//position: absolute;
		//left: -617px;
	}
	// .destinations__places
	&__places {
		//margin-left: 300px;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		row-gap: 42px;
	}
	// .destinations__place
	&__place {
		display: flex;
		align-items: center;
		//justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;

		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.08);
		border-radius: 15px;
		width: 659px;
		max-width: 100%;
	}
	// .destinations__image
	&__image {
	}
	// .destinations__description
	&__description {
		margin-left: 49px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;

		font-weight: 600;
		font-size: 20px;
		line-height: 27px;
	}
	// .destinations__point
	&__point {
		width: 120px;
	}
	// .destinations__spots
	&__spots {
		margin-left: 30px;
		width: 93px;
	}
	// .destinations__more
	&__more {
		margin-left: 93px;
	}
}
