.discover {
	margin-top: 25vh;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	color: #ffffff;
	text-align: center;
	&__header {
		width: 779px;
		max-width: 100%;
	}
	&__slogan {
		margin-top: 57px;
		width: 568px;
		max-width: 100%;
	}
	&__button {
		margin-top: 39px;
		margin-bottom: 265px;
	}
	@media screen and (max-width: 767px) {
		margin-top: 10vh;
	}
}


