.footer {
	max-width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	ul {
		list-style-type: none;
	}
	ul li:first-child {
		margin-bottom: 45px;
		font-weight: 700;
		font-size: 21px;
		color: #000000;
	}
	ul li {
		margin-bottom: 17px;
		font-weight: 400;
		font-size: 18px;
		color: #5e6282;
	}
	a:hover {
		text-shadow: 0 0 20px #75f09a;
	}
	&__content {
		max-width: 100%;
		width: 1448px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
	}
	&__logotype {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-grow: 1;
	}
	//&__logo {}
	&__slogan {
		margin-top: 15px;
		width: 215px;
		max-width: 100%;
	}
	&__links {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-grow: 1;
	}
	&__company {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		padding: 0 10px;
	}
	//&__company-list {}
	&__contact {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		padding: 0 10px;
	}
	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		padding: 0 10px;
	}
	&__web {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-grow: 1;
	}
	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 35px;
	}
	//&__facebook {}
	&__facebook > a {
		height: 1px;
	}
	//&__instagram {}
	//&__twitter {}
	&__apps {
		margin-top: 20px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
	&__apps p {
		font-weight: 400;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.005em;
		color: #5e6282;
	}
	&__app {
		margin-top: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
	}
	//&__android {}
	//&__ios {}
	// .footer__rights
	&__rights {
		margin-top: 118px;
		margin-bottom: 64px;
	}
	&__rights p {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #5e6282;
	}
	@media screen and (max-width: 767px) {
		&__content {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}
