.footer {
	max-width: 100%;
	//width: 1448px;

	margin: 0 auto;
	background-color: #ffffff;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

	ul {
		list-style-type: none;
	}
	ul li:first-child {
		margin-bottom: 45px;
		font-weight: 700;
		font-size: 21px;
		color: #000000;
	}
	ul li {
		margin-bottom: 17px;
		font-weight: 400;
		font-size: 18px;
		color: #5e6282;
	}

	// .footer__content
	&__content {
		max-width: 100%;
		width: 1448px;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
	// .footer__logotype
	&__logotype {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-grow: 1;
	}

	// .footer__logo
	&__logo {
	}
	// .footer__slogan
	&__slogan {
		width: 215px;
		max-width: 100%;
	}
	// .footer__company
	&__company {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}
	// .footer__company-list
	&__company-list {
	}
	// .footer__contact
	&__contact {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}
	// .footer__more
	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}
	// .footer__web
	&__web {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}
	// .footer__social
	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
	// .footer__facebook
	&__facebook {
	}
	// .footer__instagram
	&__instagram {
	}
	// .footer__twitter
	&__twitter {
	}
	// .footer__app
	&__app {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
	// .footer__android
	&__android {
	}
	// .footer__ios
	&__ios {
	}
	// .footer__rights
	&__rights {
	}
	&__rights p {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #5e6282;
	}
}
