.header {
	max-width: 100%;
	width: 1448px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;

	margin: 32px auto 0;
	padding: 0 20px;

	&__logotype {
	}
	&__nav {
		font-weight: 600;
		font-size: 20px;
		line-height: 27px;
	}
	&__list {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		padding: 0;
		color: #ffffff;
	}
	&__link {
		margin: 70px;
		overflow: hidden;
	}
	&__authorize {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&__favorite {
		margin-right: 34px;
	}
	&__user {
	}
}
