.header {
	max-width: 100%;
	width: 1448px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;

	margin: 32px auto 0;
	padding: 0 20px;

	&__logotype {
	}

	&__menu {}

	&__icon {
		display: none;
	}

	&__nav {
		font-weight: 600;
		font-size: 20px;
		line-height: 27px;
	}
	&__list {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		padding: 0;
		color: #ffffff;
		gap: 70px;
	}
	&__link {
		//margin: 70px;
		overflow: hidden;
	}
	&__authorize {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 34px;
	}

	&__favorite {}

	&__user {
	}
	@media screen and (max-width: 767px) {
		&__list {
			flex-direction: column;
			gap: 20px;
		}
		&__authorize {
			flex-direction: column;
		}
	}
}
