.header {
	max-width: 100%;
	width: 1448px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 40px 40px 0;
	//&__logotype {}
	//&__menu {}
	&__icon {
		display: none;
	}
	&__nav {
		font-weight: 600;
		font-size: 20px;
		line-height: 27px;
	}
	&__list {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		padding: 0;
		color: #ffffff;
		gap: 50px;
	}
	&__link {
		overflow: hidden;
	}
	&__authorize {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 34px;
	}
	&__favorite {
		font-size: 0;
	}
	&__user {
		font-size: 0;
	}
	@media screen and (max-width: 767px) {
		&__logotype {
			z-index: 5;
		}
		&__favorite {
			font-weight: 600;
			font-size: 20px;
			line-height: 27px;
		}
		&__user {
			display: block;
			font-weight: 600;
			font-size: 20px;
			line-height: 27px;
		}
		&__favorite img {
			display: none;
		}
		&__user img {
			display: none;
		}
		&__list {
			flex-direction: column;
			gap: 20px;
		}
		&__list li {
			border-bottom: solid 1px #00a651;
		}
		&__authorize {
			flex-direction: column;
		}

		&__icon {
			z-index: 5;
			display: block;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;
		}
		&__icon span,
		&__icon::before,
		&__icon::after {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #ffffff;
		}
		&__icon::before,
		&__icon::after {
			content: "";
		}
		&__icon::before {
			top: 0;
		}

		&__icon::after {
			bottom: 0;
		}
		&__icon span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}
		&__icon._active span {
			transform: scale(0) translate(0px, -50%);
		}
		&__icon._active::before {
			top: 50%;
			transform: rotate(-45deg) translate(0px, -50%);
		}
		&__icon._active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0px, 50%);
		}
		&__nav {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: rgba($color: #124229, $alpha: 0.75);
			padding: 100px 30px 30px 30px;
			transition: left 0.3s ease 0s;
			overflow: auto;
		}
		&__nav._active {
			left: 0;
		}
		&__nav::before {
			content: "";
			position: fixed;
			width: 100%;
			top: 0;
			left: -100%;
			height: 90px;
			background: linear-gradient(-45deg, #63dd9e, #35aa6e, #177946, #064b27);
			animation: gradien 5s ease infinite;
			opacity: 0.8;
		}
		&__nav::before._active {
			left: 0;
		}
	}
}

@keyframes gradien {
	0% {
		background-position: 0% 50%;
	};
	50% {
		background-position: 100% 50%;
	};
	100% {
		background-position: 0% 50%;
	};
}