@import "_variables.scss";
@import "_buttons.scss";
@import "_links.scss";
@import "_text.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: auto;
	background: url(/images/background_01.png) center 0/100% no-repeat;
	background-size: auto 1177px;
	//background-size: contain;
	//background-size: 100% auto;
	overflow-x: hidden;
}

main {
	max-width: 100%;
	width: $width_content;
	margin: 0px auto 0px auto;
	padding: 0;
}
