.packages {
	margin-top: 53px;
	padding: 0 20px;

	background: #ecf1f0;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

	// .packages__header
	&__header {
		padding-top: 59px;
		text-align: center;
	}
	// .packages__packs
	&__packs {
		margin-top: 52px;
		//width: 100%;
		//max-width: 1430px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	// .packages__pack
	&__pack {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		color: #ffffff;
		gap: 70px;
	}
	// .packages__direction
	&__direction {
		overflow: hidden;
		width: 180px;
		height: 60px;

		font-weight: 700;
		font-size: 20px;
		line-height: 27px;

		background-color: #666666;
		border-radius: 10px;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__direction:hover {
		background-color: #00a651;
		transition: 0.25s;
		box-shadow: 0 0 15px 5px #ffffff;
	}
	&__direction a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: inherit;
		height: inherit;
	}
	&__direction a:hover {
		border-bottom: none;
	}
	&__direction p {
		font-weight: 700;
		font-size: 20px;
		line-height: 27px;
	}
	// .packages__deals
	&__deals {
		margin-top: 107px;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 74px;
	}
	// .packages__deal
	&__deal {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		width: 434px;
		max-width: 100%;

		background-color: #ffffff;
		border-radius: 15px 15px;
	}
	// .packages__image
	&__image {
		height: 338px;
	}
	&__image img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 0 0;
	}
	// .packages__info
	&__info {
		width: 434px;
		max-width: 100%;
		padding: 10px 15px 17px;
	}
	// .packages__terms
	&__terms {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	&__terms p {
		font-size: 20px;
		line-height: 27px;
	}

	// .packages__term
	&__term {
	}
	// .packages__price
	&__price {
	}
	// .packages__advertisment
	&__advertisment {
		margin-top: 18px;
	}
	&__advertisment p {
		font-weight: 600;
		line-height: 22px;
	}

	// .packages__details
	&__details {
		margin-top: 33px;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	// .packages__destination
	&__destination {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}
	&__destination img {
		//line-height: 20px;
	}
	&__destination p {
		font-weight: 600;
		font-size: 20px;
		margin-left: 5px;
		//line-height: 27px;
	}
	// .packages__more
	&__more {
	}
	&__more a {
		font-weight: 600;
		//line-height: 27px;
	}
	&__more a:hover {
		border-bottom: solid 2px #000000;
	}
	// .packages__button
	&__button {
		margin-top: 98px;
		margin-bottom: 105px;
		width: 300px;
	}
	&__button a {
		color: #ffffff;
		font-weight: 700;
		font-size: 24px;
		line-height: 33px;
	}
}
