.statistics {
	background: url(../images/statistics_back.png) rgba(0, 88, 83, 0.05) center 0/100% no-repeat;
	background-size: auto 733px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 20px;
	&__header {
		padding-top: 81px;
		width: 518px;
		max-width: 100%;
		text-align: center;
	}
	&__slogan {
		margin-top: 19px;
		width: 495px;
		max-width: 100%;
		text-align: center;
	}
	&__achievements {
		margin-top: 118px;
		margin-bottom: 113px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 5rem;
	}
	&__block {
		width: 250px;
		height: 250px;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #ffffff;
		border-radius: 15px;
	}
	&__block:hover {
		background-color: rgba(1, 129, 123, 0.05);
		transition: 0.5s;
		box-shadow: 0 0 15px 5px rgba(0, 88, 83, 0.05);
		color: #005f15;
	}
	//&__block-image {}
	&__block-count {
		margin-top: 25px;
	}
	&__block-count span {
		font-size: 36px;
		font-weight: 700;
		font-size: 36px;
		line-height: 49px;
	}
	&__block-descr {
		margin-top: 15px;
	}
	&__block-descr p {
		font-size: 20px;
		line-height: 27px;
	}
	//&__experience {}
	//&__travellers {}
	//&__places {}
	//&__history {}
}
